
@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Bienvenido usuario</h1>
	<h4>Estas en MyMotorTimeLine, tu espacio para gestionar el historial y el mantenimiento de tus vehiculos en un solo lugar</h4>
	<h5>Todavía no tenés vehículos registrados. Agregá el primero para comenzar a llevar tu historial de mantenimiento. </h5>
</div>
<!--insertar boton "agregar vehiculo"-->
<div class="d-flex justify-content-center mt-4">
	<a href="#" class="btn btn-primary btn-lg">
		<i class="bi bi-plus-lg me-2"></i>
		Agregar Vehículo
	</a>
</div>
